.cell-version {
  padding-left: 30px;
}

.version-info-container {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  margin-bottom: 5px;
  max-width: 200px;
  height: 20px;
}

.cell-version-selection-tab-item > div > input {
    width: 50px;
}

.version-info-container > div > input {
  width: 50px;
}

.version-info-container > div {
  display: inline;
}

.hide {
  display: none !important;
}

.cell-version-selection-tab-container {
  margin-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

.cell-version-parallel {
  display: none;
}

.cell-version-parallel.selected {
  display: block;
}

.cell-version-selection-tab-item {
    display:inline-block;
    background: whitesmoke;
    text-align: center;
    min-width: 80px;
    padding: 5px 15px;
    margin-right: 4px;
    font-size:12px;
}

.cell-version-selection-tab-item.selected {
    background-color: lightgray;
}

.right-btn{
  position: absolute;
  right: 0px;
  padding: 5px;
}

.right-btn-item{
  display:inline-block;
  background-color: whitesmoke;
  width: 20px;
  height: 20px;
  min-width: 0px;
  border: 1px solid lightgray;
  font-weight: 400;
  font-size: 12px;
  color: #aaaaaa;
  text-align: center;
  margin-left: 2px;
}

.version-fork::after{
  font-family: "Font Awesome 5 Free";
  content: "\2b";
}
.mainmark::after {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  color: #aaaaaa;
}

.mainmark.ismain::after{
  font-family: "Font Awesome 5 Free";
  content: "\f192";
  vertical-align: middle;
  font-weight: 900;
  font-size: 12px;
  color: #7b7b7b;
}

.sync-btn::after{
  font-family: "Font Awesome 5 Free";
  content: "\f021";
  font-weight: 900;
  font-size: 12px;   
  vertical-align: middle;
}

.mainmark {
  margin-right: 5px;
}

.cell-version-selection-tab-item > div {
  display: inline;
}

.widget-wrapper{
  background-color: white;
  margin: 10px;
}

.section-wrapper{
  padding: 10px;
}

.section-title{
  font-weight:800;
  background-color: blanchedalmond;
}

.users > .username{
  font-weight: 700;
  border-left: solid 10px green;
  padding: 1px 5px;
  margin: 10px 0px;
}

.colab-read-lock > .jp-Cell-inputWrapper > .jp-Cell-inputArea > .jp-InputArea-editor > .CodeMirror {
  filter: blur(5px);
}

/* .colab-lock::before {
  font-family: "Font Awesome 5 Free";
  content: "\f023";
  vertical-align: middle;
  font-weight: 900;
  font-size: 12px;
  color: #7b7b7b;
  position:absolute;
  left: 10px;
  top: 10px;
} */

.colab-edit-lock > .jp-Cell-inputWrapper > .jp-Cell-inputArea > .jp-InputArea-editor > .CodeMirror {
  background: repeating-linear-gradient(
    45deg,
    #ddd,
    #ddd 10px,
    #eee 10px,
    #eee 20px
  );
}

.dropdown-check-list {
  display: inline-block;
  font-size: 10px;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px 5px 5px;
  border: 1px solid #ccc;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 2px;
  right: 10px;
  top: 35%;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-list.visible .anchor {
  color: #0094ff;
}

.dropdown-check-list.visible .items {
  display: block;
  position:absolute;
  background-color: white;
  z-index:10;
  font-size: 10px;
}

.restricted-variable-highlights {
  background-color:antiquewhite;
}

.restricted-variable-highlights:hover::after {
  display: inline-block;
  content: 'This variable is restricted from edits.';
  background-color:antiquewhite;
  position: absolute;
  left: 200px;
  top: 0px;
}

.indentation-btn {
  height: 15px;
  width: 15px;
  background-color:#7b7b7b;
  -webkit-mask-size: cover;
  mask-size: cover;
  position: absolute;
  top: 12px;
  left: 10px;
}

.indentation-do-btn{
  -webkit-mask: url(./icons/indent-solid.svg) no-repeat 50% 50%;
  mask: url(./icons/indent-solid.svg) no-repeat 50% 50%;
}

.indentation-cancel-btn{
  -webkit-mask: url(./icons/delete-left-solid.svg) no-repeat 50% 50%;
  mask: url(./icons/delete-left-solid.svg) no-repeat 50% 50%;
}

.cell-version > .jp-cell-toolbar {
  display: none;
}


.jp-Cell {
  margin-bottom: 15px;
  margin-top: 5px;
}

.cellaccess-overview {
  position:absolute;
  top: -12px;
  right: 5px;
  font-size: 12px;
  color: darkgray;
  border-right: 2px solid lightgray;
}

.access-selector-everyone::after {
  font-family: "Font Awesome 5 Free";
  content: "\f14a"; 
}

.access-selector-some::after{
  font-family: "Font Awesome 5 Free";
  content: "\f146";   
}

.access-selector-not-me::after{
  font-family: "Font Awesome 5 Free";
  content: "\f007";    
}

.access-selector-section {
  display: inline-block;
  border-left: 2px solid lightgray;
  padding: 0px 5px;
}

.access-selector-section:hover {
  color:#333333;
}

.jp-mod-selected > .cellaccess-overview{
  color:dimgray;
} 

.option-container {
  background:white;
  position: absolute;
  right: 0px;
  border: 1px solid lightgray;
  z-index:200;
  width: 100px;
  padding: 5px;
}

.option-close {
  position: absolute;
  right: 4px;
  top: 4px;
  width:15px;
  height: 15px;
  cursor: pointer;
}

.option-close::after {
  font-family: "Font Awesome 5 Free";
  content: "\f057";   
}

.switch {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 15px;
  margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.iscreator::after{
  font-family: "Font Awesome 5 Free";
  content: "\f015";
  padding-left: 5px;
  color: #666;
}

.chat-container {
  height: 300px;
  border: 1px solid #ddd;
}

.message-list {
  height: 275px;
  overflow: scroll;
}

.message-sender {
  height: 25px;
  border-top: 1px solid #ccc;
}

.message-input {
  border: none;
}

.message-btn {
  border: none;
  margin-left: 3px;
  height: 22px;
  width: 50px;
}

.msg-container {
  padding: 6px;
}

.msg-sender {
  font-size: smaller;
  font-weight: bold;
}